@import "compass/css3";
@import "compass/utilities/general/clearfix";



/****************************************************************************************************

  Table of Contents

*****************************************************************************************************

  1.  General Styles
      - General Body Cascade
      - Tags
  2.  Forms
  3.  Page Modules
      - Search Form
      - Image Tiles
  4.  Page-Specific Styles
      - Home Page
      - Search Results
      - Show Image

****************************************************************************************************/



/*************************************************
  1.  General Styles
**************************************************/

body {
  padding-top: 40px;
  padding-bottom: 60px;
  background: transparent url("background.gif") repeat 0 0;
}

.tag {
  display: block;
  float: left;
  padding: 3px 8px 5px 8px;
  margin: 0 5px 10px 0;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  @include border-radius(3px);
}


/**************************************************
  2.  Forms
**************************************************/

label {
  cursor: pointer;
}

.row-clear {
  @include legacy-pie-clearfix;
  width: 100%;
}


/**************************************************
  3.  Page Modules
**************************************************/

/* Search Form */

.search-form {
  padding-top: 90px;
  padding-bottom: 100px;
  margin-bottom: 20px;
  h1 {
    margin: 0 0 20px 0;
    font-size: 28px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #9b4d39;
    span {
      color: #39699b;
    }
  }
  form {
    margin: 0;
    position: relative;
  }
  input[type="text"] {
    display: block;
    float: left;
    width: 100%;
    height: 48px;
    padding: 9px 102px 11px 10px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
    font-size: 18px;
    position: relative;
    z-index: 50;
    @include border-radius(3px);
    @include box-shadow(0 1px 0 #ffffff);
    @include box-sizing(border-box);
  }
  button {
    display: block;
    float: right;
    width: 100px;
    height: 40px;
    padding: 7px 8px 9px 8px;
    margin: -44px 4px 0 0;
    position: relative;
    z-index: 100;
    @include border-radius(3px);
    @include box-sizing(border-box);
  }
}


/* Image Tiles */

.image-tile {
  height: 220px;
  padding: 10px;
  margin-bottom: 20px !important;
  background: #ffffff;
  overflow: hidden;
  @include box-shadow(0 1px 3px #d1d1cd);
  @include box-sizing(border-box);
  .thumb {
    display: block;
    float: left;
    width: 100%;
    height: 160px;
    margin: 0 0 10px 0;
    overflow: hidden;
    background: transparent url("throbber.gif") no-repeat center center;
  }
  .thumb:hover {
    @include opacity(0.66);
  }
  .tag {
    margin-bottom: 20px;
  }
}


/**************************************************
  3.  Page-Specific Styles
**************************************************/

/* Home Page */

.home-page .image-tile .thumb img {
  width: 100%;
  margin: -30px auto 0;
}

/* Search Results */

.search {
  .search-result {
    margin-bottom: 20px;
    font-weight: bold;
    font-style: italic;
  }
  .image-tile .thumb img {
    width: 100%;
    height: 100%;
  }
}

/* Show Image */

.images-show {
  img {
    display: block;
    margin: 0 auto 10px;
  }
  p {
    text-align: center;
  }
}

















