@import "compass/css3";
@import "compass/utilities/general/clearfix";


/**************************************************

  Table of Contents

**************************************************

  Search Form
  Image Tiles

**************************************************/


body {
  padding-top: 40px;
  padding-bottom: 60px;
  background: transparent url("background.gif") repeat 0 0;
}

.row-clear {
  @include legacy-pie-clearfix;
  width: 100%;
}


/* Search Form */

.search-form {
  padding-top: 90px;
  padding-bottom: 100px;
  margin-bottom: 20px;
  h1 {
    margin: 0 0 20px 0;
    font-size: 28px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #9b4d39;
    span {
      color: #39699b;
    }
  }
  form {
    margin: 0;
    position: relative;
  }
  input[type="text"] {
    display: block;
    float: left;
    width: 100%;
    height: 48px;
    padding: 9px 102px 11px 10px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
    font-size: 18px;
    position: relative;
    z-index: 50;
    @include border-radius(3px);
    @include box-shadow(0 1px 0 #ffffff);
    @include box-sizing(border-box);
  }
  input[type="submit"] {
    display: block;
    float: right;
    width: 100px;
    height: 44px;
    padding: 7px 8px 9px 8px;
    margin: -46px 2px 0 0;
    position: relative;
    z-index: 100;
    @include box-sizing(border-box);
  }
}


/* Image Tiles */

.image-tile {
  height: 220px;
  padding: 10px;
  margin-bottom: 20px !important;
  background: #ffffff;
  overflow: hidden;
  @include box-shadow(0 1px 3px #d1d1cd);
  @include box-sizing(border-box);
  .thumb {
    display: block;
    float: left;
    width: 100%;
    height: 160px;
    margin: 0 0 10px 0;
    overflow: hidden;
    background: transparent url("throbber.gif") no-repeat center center;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .tag {
    display: block;
    float: left;
    padding: 3px 8px 5px 8px;
    margin: 0 5px 20px 0;
    border: 1px solid #d9d9d9;
    @include border-radius(3px);
  }
}

