<!DOCTYPE html>
<html>
<head>
  <title>Reactiongifs</title>
  <%= stylesheet_link_tag    "bootstrap/bootstrap", "bootstrap/bootstrap-responsive", "reactiongifs" %>
  <%= javascript_include_tag "jquery", "bootstrap/bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
